{% extends 'dash_base.html'%} 
{% block content %}
<div class="col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>List Of Your Recipes</h3></div>
              <div class="panel-body">
                {% if notice_type == '0' %}
                <div style="color: #FF0000; text-align:center;"><span>{{ notice }}</span></div>
                {% elif notice_type == '1'%}
                <div style="color: #009900; text-align:center;"><span style="color: #009900;">{{ notice }}</span></div>
                {% endif %}
                {% if request.args.get('t') == 'd' %}
                <div style="color:red; text-align:center;">Select a recipe and click on Delete to delete the recipe!</div>
                {% endif %}
                {% if request.args.get('t') == 'e' %}
                <div style="color:red; text-align:center;">Select a recipe and click on Edit to edit the recipe!</div>
                {% endif %}
                {% if request.args.get('t') == 'v' %}
                <div style="color:red; text-align:center;">Select a recipe and click on View for a detailed view of the recipe!</div>
                {% endif %}                   
                  <table class="table table-hover">
             <thead>
                    <tr>
                      <th>Recipe Name/Title</th>
                      <th>Date Posted</th>
                      <th>Views</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                         
                    {% if recipes%}
                       {% for value in recipes %}
                    <tr>
                      <td>{{value["recipe_name"]}}</td>
                      <td>{{value["post_date"]}}</td>
                      <td>{{value["views"]}}</td>
                      <td>[<a href="edit_recipe?id={{value['recipe_id']}}">Edit</a>] [<a href="recipe_detailed_view?id={{value['recipe_id']}}">View</a>] [<a href="delete_recipe?id={{value['recipe_id']}}">Delete</a>]</td>
                    </tr>                    
                       {% endfor %}
                    {% else %}
                    <tr>
                      <th colspan="4" scope="col"><span style="color:red;"><small><i>You have not added any recipe yet.</i></small></span></th>
                    </tr>                  
                    {% endif %}

                  </tbody>
                </table>
            
              </div>
            </div>        
        </div>
{% endblock %} 